body {
    background-color: rgb(209, 159, 32);
    font-family: Poppins, sans-serif;
}

h1 {
    background-color: #aeff23; padding: 10px 20px; width: fit-content; justify-self: center;
    box-shadow: 4px 4px 24px;
}

#mainContainer {
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
    width: fit-content; justify-self: center;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #2bfffb;
    box-shadow: 4px 4px 24px;
}

#diceNum {
    width: 100px;
    text-align: center; font-size: 1.5rem; font-weight: bold;
}

#rollDiceBtn {
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px; border: none; background-color: rgb(255, 252, 48);
    padding: 6px 6px;
    cursor: pointer;
    margin: 10px;
}

#rollDiceBtn:hover {
    background-color: orange;
}

#rollDiceBtn:active {
    background-color: orangered;
}

#result {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 1.5rem;
}

#images img {
    width: 60px; height: 60px; margin: 5px;
}