body {
    background-color: #f4f4f4;
    margin: 0;
    font-family: Poppins, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    background-color: #6dd47e;
    padding: 12px 24px;
    border-radius: 12px;
    width: fit-content;
    justify-self: center;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

#mainContainer {
    background-color: #ffffff;
    color: #302f2f;
    padding: 30px 40px;
    border-radius: 16px;
    box-shadow: 0 10px 42px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    width: fit-content;
}

#diceNum {
    width: 80px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 6px 10px;
    border: 2px solid #c8c7c7;
    border-radius: 8px;
    margin-bottom: 16px;
}

#rollDiceBtn {
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: #ffd93d;
    padding: 10px 16px;
    cursor: pointer;
    margin: 10px;
}

#rollDiceBtn:hover {
    background-color: orange;
}

#rollDiceBtn:active {
    background-color: orangered;
}

#result {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 1.5rem;
}

#images img {
    width: 60px; height: 60px; margin: 5px;
}